#header-image{
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background: url('../images/rock-paper-scissors-today-tease-160317.jpg') no-repeat center center;

}
.header-title{
    color: white;
    text-align: center;
}

.buttonsStyle {
    background-color: black;
    width: 220px;
    height: 60px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
}
.playersHandImage{
    visibility: hidden;
    position: absolute;
    top: 300px;
    left: 300px;
    width: 200px;
    height: 200x;

}
.computersHandImage{
    visibility: hidden;
    position: absolute;
    top: 300px;
    right: 300px;
    width: 200px;
    height: 200x;

}
#rockButton{
    position: absolute;
    left: 15%;
    top: 150px;
    
}
#paperButton{
    position: absolute;
    left: 40%;
    top: 150px;
}
#scissorButton{
    position: absolute;
    left: 65%;
    top: 150px;
}
@media only screen and (max-width: 1050px){
    #rockButton{
        position: absolute;
        left: 40%;
        top: 150px;
        
    }
    #paperButton{
        position: absolute;
        left: 40%;
        top: 250px;
    }
    #scissorButton{
        position: absolute;
        left: 40%;
        top: 350px;
    }
    .playersHandImage{
        visibility: hidden;
        position: absolute;
        top: 450px;
        left: 10%;
        width: 200px;
        height: 200x;
    
    }
    .computersHandImage{
        visibility: hidden;
        position: absolute;
        top: 450px;
        right: 10%;
        width: 200px;
        height: 200x;
    
    }
    
}